{% extends "base.html" %}
{% block content %}

{% if message %}

    <div id="success">
        <font style="color: blue">
            {{ message }}
        </font>
    </div>

{% endif %}

{% if not (message and 'success' in message) %}

<div>
    <ul>
    Requirements:
        <li>Previously unregistered username</li>
        <li>Password longer than 8 characters</li>
        <li>2fa info exactly 9 characters</li>
    </ul>
</div>

<form method="POST" action="/register">

    {{ form.csrf_token }}
    {% include "partials/user_form.html" %}

</form>

{% endif %}

{% endblock %}
