{% extends "base.html" %}
{% block content %}

{% if textout %}
<div id="textout">
    <font style="color: green">
        <div> <strong> Given: </strong> </div> 
        <div> {{ textout }} </div>
    </font>
</div>

<div id="textout">
    <font style="color: red">
        <div> <strong> Misspelled: </strong> </div>
        <div> {{ misspelled }} </div>
    </font>
</div>
{% endif %}

<form method="POST" action="/spell_check">

    {{ form.csrf_token }}
    {% include "partials/spell_form.html" %}

</form>

{% endblock %}

